body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 50px;
    text-align: center;
    background: #ddd;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
}

textarea {
    width: 90%;
    height: 300px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    background: rgb(12, 12, 12);
    color: white;
    border: none;
}
body{
    background-color: rgb(240, 236, 239);
}